In [ ]:
#Task1:

import numpy as np

# Converting given equations into an array; Eq1 : x + y + z = 2 | Eq2 : 6x - 4y + 5z = 31 | Eq3: 5x + 2y + 2z = 13

#LHS of eq.
lhs = np.array([[1, 1, 1],
              [6, -4, 5],
              [5, 2, 2]])

# RHS of eq.
rhs = np.array([2, 31, 13])

# Solving the system of equations
sol = np.linalg.solve(lhs, rhs)

print("Solution: x =", sol[0], ", y =", sol[1], ", z =", sol[2])

Solution: x = 3.0 , y = -2.0 , z = 1.0000000000000002

In [ ]:
#Task2:

# 2.1 Creating Employee Dictionary 'emp_dict' with initial information
emp_dict = {
    'Name': ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQR', 'STU'],
    'Education': ['Graduate', 'Postgraduate', 'Postgraduate', 'Graduate', 'Graduate', 'Postgraduate', 'Graduate'],
    'Gender': ['Male', 'Female', 'Male', 'Other', 'Female', 'Female', 'Male']
}

# 2.2 Update=ing Employee Dictionary 'emp_dict' with Age information
age = [22, 27, 26, 23, 24, 30, 21]
emp_dict['Age'] = age

# Printing updated 'emp_dict'
print(emp_dict)

{'Name': ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQR', 'STU'], 'Education': ['Graduate', 'Postgraduate', 'Postgraduate', 'Graduate', 'Graduate', 'Postgraduate', 'Graduate'], 'Gender': ['Male', 'Female', 'Male', 'Other', 'Female', 'Female', 'Male'], 'Age': [22, 27, 26, 23, 24, 30, 21]}

In [ ]:
#Task3:

import pandas as pd

# 3.1 Creating the DataFrame 'emp_df' from the Dictionary 'emp_dict'
emp_dict = {
    'Name': ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQR', 'STU'],
    'Education': ['Graduate', 'Postgraduate', 'Postgraduate', 'Graduate', 'Graduate', 'Postgraduate', 'Graduate'],
    'Gender': ['Male', 'Female', 'Male', 'Other', 'Female', 'Female', 'Male'],
    'Age': [22, 27, 26, 23, 24, 30, 21]
}

emp_df = pd.DataFrame(emp_dict)

# 3.2 Updating the DataFrame 'emp_df' with Salary_Lakhs and Bonus% information
salary_lakhs = [6, 15, 20, 5, 10, 18, 12]
bonus_per = [12.50, 8.75, 6.25, 10.20, 13.60, 11.40, 9.80]

emp_df['Salary_Lakhs'] = salary_lakhs
emp_df['Bonus%'] = bonus_per

# 3.3 Updating the DataFrame 'emp_df' with additional information
new_data = {
    'Name': ['VWX', 'YZA', 'BCD'],
    'Education': ['Postgraduate', 'Graduate', 'Postgraduate'],
    'Gender': ['Male', 'Female', 'Other'],
    'Age': [35, 28, 32],
    'Salary_Lakhs': [14, 7, 8],
    'Bonus%': [5.50, 7.75, 14.80]
}

emp_df = emp_df.append(pd.DataFrame(new_data), ignore_index=True)

# 3.4 Creating a Column 'Gross_Salary_Lakhs' using the formula
emp_df['Gross_Salary_Lakhs'] = emp_df['Salary_Lakhs'] * (1 + emp_df['Bonus%'] / 100)

# Printing the updated 'emp_df'
print(emp_df)

  Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
0  ABC      Graduate    Male   22             6   12.50              6.7500
1  DEF  Postgraduate  Female   27            15    8.75             16.3125
2  GHI  Postgraduate    Male   26            20    6.25             21.2500
3  JKL      Graduate   Other   23             5   10.20              5.5100
4  MNO      Graduate  Female   24            10   13.60             11.3600
5  PQR  Postgraduate  Female   30            18   11.40             20.0520
6  STU      Graduate    Male   21            12    9.80             13.1760
7  VWX  Postgraduate    Male   35            14    5.50             14.7700
8  YZA      Graduate  Female   28             7    7.75              7.5425
9  BCD  Postgraduate   Other   32             8   14.80              9.1840

<ipython-input-20-fb5f8b169620>:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  emp_df = emp_df.append(pd.DataFrame(new_data), ignore_index=True)

In [ ]:
#Task4:

import pandas as pd

# Creating the subset emp_df_ss
emp_df_ss = emp_df[['Name', 'Age', 'Gross_Salary_Lakhs']]

# Printing the subset
print(emp_df_ss)

  Name  Age  Gross_Salary_Lakhs
0  ABC   22              6.7500
1  DEF   27             16.3125
2  GHI   26             21.2500
3  JKL   23              5.5100
4  MNO   24             11.3600
5  PQR   30             20.0520
6  STU   21             13.1760
7  VWX   35             14.7700
8  YZA   28              7.5425
9  BCD   32              9.1840

In [ ]:
#Task5:

# 5.1 Creating a Copy of 'emp_df' Named as 'emp_df_age_sorted' & Sort by 'Age' (Highest -> Lowest)
emp_df_age_sorted = emp_df.copy()
emp_df_age_sorted = emp_df_age_sorted.sort_values(by='Age', ascending=False)

# 5.2 Creating a Copy of 'emp_df' Named as 'emp_df_age_salary_sorted' &  Sort by 'Age' (Lowest -> Highest) & 'Gross_Salary_Lakhs' (Highest -> Lowest)
emp_df_age_salary_sorted = emp_df.copy()
emp_df_age_salary_sorted = emp_df_age_salary_sorted.sort_values(by=['Age', 'Gross_Salary_Lakhs'], ascending=[True, False])

# Printing the sorted DataFrames
print("Sorted by Age (Highest -> Lowest):")
print(emp_df_age_sorted)

print("\nSorted by Age (Lowest -> Highest) & Gross_Salary_Lakhs (Highest -> Lowest):")
print(emp_df_age_salary_sorted)

Sorted by Age (Highest -> Lowest):
  Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
7  VWX  Postgraduate    Male   35            14    5.50             14.7700
9  BCD  Postgraduate   Other   32             8   14.80              9.1840
5  PQR  Postgraduate  Female   30            18   11.40             20.0520
8  YZA      Graduate  Female   28             7    7.75              7.5425
1  DEF  Postgraduate  Female   27            15    8.75             16.3125
2  GHI  Postgraduate    Male   26            20    6.25             21.2500
4  MNO      Graduate  Female   24            10   13.60             11.3600
3  JKL      Graduate   Other   23             5   10.20              5.5100
0  ABC      Graduate    Male   22             6   12.50              6.7500
6  STU      Graduate    Male   21            12    9.80             13.1760

Sorted by Age (Lowest -> Highest) & Gross_Salary_Lakhs (Highest -> Lowest):
  Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
6  STU      Graduate    Male   21            12    9.80             13.1760
0  ABC      Graduate    Male   22             6   12.50              6.7500
3  JKL      Graduate   Other   23             5   10.20              5.5100
4  MNO      Graduate  Female   24            10   13.60             11.3600
2  GHI  Postgraduate    Male   26            20    6.25             21.2500
1  DEF  Postgraduate  Female   27            15    8.75             16.3125
8  YZA      Graduate  Female   28             7    7.75              7.5425
5  PQR  Postgraduate  Female   30            18   11.40             20.0520
9  BCD  Postgraduate   Other   32             8   14.80              9.1840
7  VWX  Postgraduate    Male   35            14    5.50             14.7700

In [ ]:
#Task6:

# 6.1 Creating a DataFrame 'emp_df_filtered' by filtering 'emp_df' based on 'Age' >= 25 and 'Gender' == 'Female'
emp_df_filtered = emp_df[(emp_df['Age'] >= 25) & (emp_df['Gender'] == 'Female')]

# 6.2 Creating subsets 'emp_df_grad' and 'emp_df_postgrad'
emp_df_grad = emp_df[emp_df['Education'] == 'Graduate']
emp_df_postgrad = emp_df[emp_df['Education'] == 'Postgraduate']

# Printing filtered DataFrame and subsets
print("Filtered DataFrame (Age >= 25 and Gender = Female):")
print(emp_df_filtered)

print("\nSubset 'emp_df_grad' (Education == Graduate):")
print(emp_df_grad)

print("\nSubset 'emp_df_postgrad' (Education == Postgraduate):")
print(emp_df_postgrad)

Filtered DataFrame (Age >= 25 and Gender = Female):
  Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
1  DEF  Postgraduate  Female   27            15    8.75             16.3125
5  PQR  Postgraduate  Female   30            18   11.40             20.0520
8  YZA      Graduate  Female   28             7    7.75              7.5425

Subset 'emp_df_grad' (Education == Graduate):
  Name Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
0  ABC  Graduate    Male   22             6   12.50              6.7500
3  JKL  Graduate   Other   23             5   10.20              5.5100
4  MNO  Graduate  Female   24            10   13.60             11.3600
6  STU  Graduate    Male   21            12    9.80             13.1760
8  YZA  Graduate  Female   28             7    7.75              7.5425

Subset 'emp_df_postgrad' (Education == Postgraduate):
  Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
1  DEF  Postgraduate  Female   27            15    8.75             16.3125
2  GHI  Postgraduate    Male   26            20    6.25             21.2500
5  PQR  Postgraduate  Female   30            18   11.40             20.0520
7  VWX  Postgraduate    Male   35            14    5.50             14.7700
9  BCD  Postgraduate   Other   32             8   14.80              9.1840

In [ ]:
#Task7:

# 7.1 Inner Merge 'emp_df_grad' and 'emp_df_postgrad' on 'Gender' with selected variables
emp_df_merged = pd.merge(emp_df_grad[['Name', 'Gender', 'Age']],
                         emp_df_postgrad[['Name', 'Gender', 'Gross_Salary_Lakhs']],
                         on='Gender',
                         how='inner')

# Printing merged DataFrame 'emp_df_merged'
print(emp_df_merged)

  Name_x  Gender  Age Name_y  Gross_Salary_Lakhs
0    ABC    Male   22    GHI             21.2500
1    ABC    Male   22    VWX             14.7700
2    STU    Male   21    GHI             21.2500
3    STU    Male   21    VWX             14.7700
4    JKL   Other   23    BCD              9.1840
5    MNO  Female   24    DEF             16.3125
6    MNO  Female   24    PQR             20.0520
7    YZA  Female   28    DEF             16.3125
8    YZA  Female   28    PQR             20.0520

In [ ]:
#Task8:

# 8.1 Group 'emp_df' by 'Gender' and 'Education' and count employees
emp_df_gen_edu = emp_df.groupby(['Gender', 'Education']).size().reset_index(name='Count')

# 8.2 Group 'emp_df' by 'Gender' and calculate the average of 'Age' and 'Gross_Salary_Lakhs'
emp_df_gen_age_sal = emp_df.groupby('Gender').agg({'Age': 'mean', 'Gross_Salary_Lakhs': 'mean'}).reset_index()

# Printing the grouped tables
print("Table 'emp_df_gen_edu' (Count of Employees by Gender and Education):")
print(emp_df_gen_edu)

print("\nTable 'emp_df_gen_age_sal' (Average Age and Gross_Salary_Lakhs by Gender):")
print(emp_df_gen_age_sal)

Table 'emp_df_gen_edu' (Count of Employees by Gender and Education):
   Gender     Education  Count
0  Female      Graduate      2
1  Female  Postgraduate      2
2    Male      Graduate      2
3    Male  Postgraduate      2
4   Other      Graduate      1
5   Other  Postgraduate      1

Table 'emp_df_gen_age_sal' (Average Age and Gross_Salary_Lakhs by Gender):
   Gender    Age  Gross_Salary_Lakhs
0  Female  27.25            13.81675
1    Male  26.00            13.98650
2   Other  27.50             7.34700

In [ ]:
#Task9:

import pandas as pd

# Creating the cross-sectional dataframe 'df_cross_section'
data = {
    'Company': ['ZYX', 'WVU', 'TSR'],
    '2023': [123, 456, 789],
    '2024': [321, 654, 987]
}

df_cross_section = pd.DataFrame(data)

# Cross-sectional dataframe -> panel dataframe
df_panel = pd.melt(df_cross_section, id_vars=['Company'], var_name='Year', value_name='Profit')

# Sorting panel dataframe by 'Company' and 'Year'
df_panel = df_panel.sort_values(by=['Company', 'Year'])

# Reseting the index
df_panel = df_panel.reset_index(drop=True)

# Printing the panel dataframe
print(df_panel)

  Company  Year  Profit
0     TSR  2023     789
1     TSR  2024     987
2     WVU  2023     456
3     WVU  2024     654
4     ZYX  2023     123
5     ZYX  2024     321